:root {
  --primary-color: var(--color-orange);
  --background-color: #ffffff;
  --background-color-secondary: #f0f0f0;
  --foreground-color: #131313;

  /* Colors */
  --color-red: oklch(0.71 0.16 24.58);
  --color-green: oklch(0.71 0.16 143.42);
  --color-blue: oklch(0.71 0.16 256.17);
  --color-purple: oklch(0.71 0.16 303.79);
  --color-orange: oklch(0.71 0.16 60.54);
  --color-pink: oklch(0.71 0.16 353.13);
  --color-yellow: oklch(0.71 0.16 98);
  --color-black: oklch(0 0 0);
  --color-white: oklch(1 0 0);
}

.dark {
  --primary-color: var(--color-orange);
  --background-color: #131313;
  --background-color-secondary: #1f1f1f;
  --foreground-color: #ffffff;

  /* Colors */
  --color-red: oklch(0.66 0.15 24.58);
  --color-green: oklch(0.66 0.15 143.42);
  --color-blue: oklch(0.66 0.15 256.17);
  --color-purple: oklch(0.66 0.15 303.79);
  --color-orange: oklch(0.66 0.15 60.54);
  --color-pink: oklch(0.66 0.15 353.13);
  --color-yellow: oklch(0.66 0.15 98);
  --color-black: oklch(0 0 0);
  --color-white: oklch(1 0 0);
}
