@mixin respond-to($breakpoint) {
  @if $breakpoint == 'phone' {
    @media (max-width: 600px) and (min-height: 600px) {
      @content;
    }
  } @else if $breakpoint == 'phone-landscape' {
    @media (min-width: 600px) and (max-height: 600px) and (orientation: landscape) {
      @content;
    }
  } @else if $breakpoint == 'tablet' {
    @media ((min-width: 600px) and (max-width: 1024px)) {
      @content;
    }
  } @else if $breakpoint == 'desktop' {
    @media (min-width: 1025px) {
      @content;
    }
  }
}

@mixin flexbox($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin gridbox($direction: row, $repeat: repeat(4, 1fr), $gap: 1rem) {
  display: grid;
  grid-template-columns: $repeat;
  grid-template-rows: $repeat;
  gap: $gap;
}

@mixin radius($radius: 12px) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin glass-blur($blur: 6px) {
  backdrop-filter: blur($blur) !important;
  -webkit-backdrop-filter: blur($blur) !important;
  -moz-backdrop-filter: blur($blur) !important;
}

@mixin hover-scale($level: 'm') {
  &:hover {
    z-index: 10;
    @if $level == 'm' {
      @include transform(scale(1.15));
    } @else if $level == 'l' {
      @include transform(scale(1.25));
    } @else if $level == 's' {
      @include transform(scale(1.05));
    }
  }
}

@mixin empty-border($border: var(--glass-border-width)) {
  border-top: $border solid var(--empty-color) !important;
  border-left: $border solid var(--empty-color) !important;
  border-right: $border solid var(--empty-color) !important;
  border-bottom: $border solid var(--empty-color) !important;
}

@mixin glass-border($border: var(--glass-border-width)) {
  border-top: $border solid var(--glass-border-top-color) !important;
  border-left: $border solid var(--glass-border-left-color) !important;
  border-right: $border solid var(--glass-border-right-color) !important;
  border-bottom: $border solid var(--glass-border-bottom-color) !important;
}

@mixin glass-border-actions($border: var(--glass-border-width)) {
  @include empty-border($border);
  &:hover {
    border-top: $border solid var(--glass-border-top-color) !important;
    border-left: $border solid var(--glass-border-left-color) !important;
    border-right: $border solid var(--glass-border-right-color) !important;
    border-bottom: $border solid var(--glass-border-bottom-color) !important;
  }
}

@mixin transition($transition...) {
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
}

@mixin transform($transform: none) {
  transform: $transform;
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
}

// components
@mixin button($radius: 24px) {
  @include flexbox(row, center, center);
  padding: 0.5rem 1rem;
  width: fit-content;
  background-color: var(--background-color-secondary);
  font-size: 0.9rem;
  @include radius($radius);
  @include glass-border;
}
@mixin button-link-hover($color: var(--link-hover-color)) {
  &:hover {
    background-color: $color;
    @include hover-scale;
  }
}
