@import '@/app/styles/_mixins.scss';

.home {
  > main {
    > section {
      @include flexbox(column, center, flex-start);
      min-height: calc(100vh - var(--header-height) * 2);
      height: fit-content;

      > h1 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.2;
      }
      > p {
        margin: 0.3rem 0;
        font-size: 1.2rem;

        @include respond-to('phone') {
          font-size: 1rem;
        }
      }

      > div.buttons {
        @include flexbox(row, flex-start, center);
        gap: 6px;
        margin-top: 1rem;

        > .button {
          @include button;
          @include button-link-hover;

          &:hover {
            > .icon {
              @include transform(translateX(5px));
            }
          }

          > .icon {
            margin-left: 0.3rem;
          }
        }
      }

      &.section_features {
        > .feature_card_container {
          @include gridbox(row, repeat(2, 2fr), 12px);
          height: fit-content;

          @include respond-to('phone') {
            @include gridbox(row, repeat(1, 1fr), 12px);
          }

          > .feature_card {
            @include flexbox(column, flex-start, flex-start);
            gap: 6px;
            padding: 1.5rem 1.2rem;
            background-color: var(--background-color-secondary);
            @include glass-border;
            @include radius(24px);

            &:hover {
              background-color: var(--background-color-tertiary);
            }

            > h2 {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
